#!/usr/bin/perl

use File::Basename;
use strict;

my $dir = "{$dir}";
my $domain = "{$domain}";
my $app = "{$app}";

(my $Second, my $Minute, my $Hour, my $Day, my $Month, my $Year, my $WeekDay, my $DayOfYear, my $IsDST) = localtime(time);
my @months = qw( jan feb mar apr may jun jul aug sep oct nov dec );
my @days = qw( mon, tue, wed, thu, fri, sat, sun );

my $dt = sprintf($app."_all_%02d_%s_%4d_%02d.%02d.%02d", $Day+1, $months[$Month], $Year+1900, $Hour, $Minute, $Second);

if(-d "$dir/$domain/httpdocs/$app") \{
        my $target = basename(readlink("$dir/$domain/httpdocs/$app"));
        system "cd $dir/$domain/httpdocs && nice -n 15 tar -czf $dt.tgz $target && mv $dt.tgz $dir/$domain/private/backup";
\}

my $user = "{$user}";
my $pass = "{$pass}";
my $db = "{$db}";

$dt = sprintf($app."_db__%02d_%s_%4d_%02d.%02d.%02d", $Day+1, $months[$Month], $Year+1900, $Hour, $Minute, $Second);

system "nice -n 15 mysqldump --opt -hlocalhost -u$user -p$pass $db | gzip > $dir/$domain/private/backup/$dt.gz";
