# -*- mode: nginx; mode: flyspell-prog;  ispell-current-dictionary: american -*-
### Configuration for {$domain}.

## default wildcard
server \{
    include map_http.conf;
    server_name ~^(.+)\.{$domain_regex}$;
    location / \{
        root /var/www/nginx-default;
        index index.html;
    \}
\}

## Return (no rewrite) server block.
server \{
    include map_http.conf;
    server_name {$domain};
    return 301 $scheme://www.{$domain}$request_uri;

\} # server domain return.

## HTTP server.
server \{
    include map_http.conf;
    server_name www.{$domain};
    limit_conn arbeit 32;

    ## Access and error logs.
    access_log /var/log/nginx/{$domain}_access.log;
    error_log /var/log/nginx/{$domain}_error.log;

    ## See the blacklist.conf file at the parent dir: /etc/nginx.
    ## Deny access based on the User-Agent header.
    if ($bad_bot) \{
        return 444;
    \}
    ## Deny access based on the Referrer header.
    if ($bad_referrer) \{
        return 444;
    \}

    ## Protection against illegal HTTP methods. Out of the box only HEAD,
    ## GET and POST are allowed.
    if ($not_allowed_method) \{
        return 405;
    \}

    #enable production or development environment [phpcgi-www phpcgi-dev]
    set $phpcgi phpcgi-www;

    ## Filesystem root of the site and index.
    root /var/www/vhosts/{$domain}/httpdocs/app;
    index index.php;

    ## If you're using a Nginx version greater or equal to 1.1.4 then
    ## you can use keep alive connections to the upstream be it
    ## FastCGI or Apache. If that's not the case comment out the line below.
    fastcgi_keep_conn on; # keep alive to the FCGI upstream

    ## Uncomment if you're proxying to Apache for handling PHP.
    #proxy_http_version 1.1; # keep alive to the Apache upstream

    ################################################################
    ### Generic configuration: for most Drupal 7 sites.
    ################################################################
    #include apps/drupal/drupal.conf;

    #################################################################
    ### Configuration for Drupal 7 sites that use boost.
    #################################################################
    include apps/drupal/drupal_boost.conf;

    #################################################################
    ### Configuration for updating the site via update.php and running
    ### cron externally. If you don't use drush for running cron use
    ### the configuration below.
    #################################################################
    include apps/drupal/drupal_cron_update.conf;

    ################################################################
    ### Installation handling. This should be commented out after
    ### installation if on an already installed site there's no need
    ### to touch it. If on a yet to be installed site. Uncomment the
    ### line below and comment out after installation. Note that
    ### there's a basic auth in front as secondary line of defense.
    ################################################################
    #include apps/drupal/drupal_install.conf;

    #################################################################
    ### Support for upload progress bar. Configurations differ for
    ### Drupal 6 and Drupal 7.
    #################################################################
    include apps/drupal/drupal_upload_progress.conf;

\} # HTTP server

## Return (no rewrite) server block.
#server \{
#    include map_https.conf;
#    server_name {$domain};
#
#    ## Keep alive timeout set to a greater value for SSL/TLS.
#    keepalive_timeout 75 75;
#
#    ## See the keepalive_timeout directive in nginx.conf.
#    ## Server certificate and key.
#    #ssl_certificate /etc/ssl/certs/visualfox-cert.pem;
#    #ssl_certificate_key /etc/ssl/private/visualfox.key;
#
#    return 301 $scheme://www.{$domain}$request_uri;
#
#\} # server domain return.

## HTTPS server.
#server \{
#    include map_https.conf;
#    server_name www.{$domain};
#    limit_conn arbeit 32;
#
#    ## Access and error logs.
#    access_log /var/log/nginx/{$domain}_access.log;
#    error_log /var/log/nginx/{$domain}_error.log;
#
#    ## Keep alive timeout set to a greater value for SSL/TLS.
#    keepalive_timeout 75 75;
#
#    ## See the keepalive_timeout directive in nginx.conf.
#    ## Server certificate and key.
#    #ssl_certificate /etc/ssl/certs/visualfox-cert.pem;
#    #ssl_certificate_key /etc/ssl/private/visualfox.key;
#
#    ## Strict Transport Security header for enhanced security. See
#    ## http://www.chromium.org/sts. I've set it to 2 hours; set it to
#    ## whichever age you want.
#    add_header Strict-Transport-Security "max-age=7200";
#
#    root /var/www/vhosts/{$domain}/httpdocs/app;
#    index index.php;
#
#    ## If you're using a Nginx version greater or equal to 1.1.4 then
#    ## you can use keep alive connections to the upstream be it
#    ## FastCGI or Apache. If that's not the case comment out the line below.
#    fastcgi_keep_conn on; # keep alive to the FCGI upstream
#
#    ## Uncomment if you're proxying to Apache for handling PHP.
#    #proxy_http_version 1.1; # keep alive to the Apache upstream
#
#    ## See the blacklist.conf file at the parent dir: /etc/nginx.
#    ## Deny access based on the User-Agent header.
#    if ($bad_bot) \{
#        return 444;
#    \}
#    ## Deny access based on the Referrer header.
#    if ($bad_referrer) \{
#        return 444;
#    \}
#
#    ## Protection against illegal HTTP methods. Out of the box only HEAD,
#    ## GET and POST are allowed.
#    if ($not_allowed_method) \{
#        return 405;
#    \}
#
#    ################################################################
#    ### Generic configuration: for most Drupal 7 sites.
#    ################################################################
#    #include apps/drupal/drupal.conf;
#
#    #################################################################
#    ### Configuration for Drupal 7 sites that use boost.
#    #################################################################
#    include apps/drupal/drupal_boost.conf;
#
#    #################################################################
#    ### Configuration for updating the site via update.php and running
#    ### cron externally. If you don't use drush for running cron use
#    ### the configuration below.
#    #################################################################
#    include apps/drupal/drupal_cron_update.conf;
#
#    #################################################################
#    ### Support for upload progress bar. Configurations differ for
#    ### Drupal 6 and Drupal 7.
#    #################################################################
#    include apps/drupal/drupal_upload_progress.conf;
#
#\} # HTTPS server
