sub hgClone \{
	my $path = shift;
	my $domain = "{$domain}";
	my $appPath = "{$appPath}";
	my $modulesPath = "{$modulesPath}";
	my $themesPath = "{$themesPath}";
	
{$clone}
\}

sub hgPush \{
	my $path = shift;
	my $domain = "{$domain}";
	my $appPath = "{$appPath}";
	my $modulesPath = "{$modulesPath}";
	my $themesPath = "{$themesPath}";
	
{$push}
\}

sub hgPull \{
	my $path = shift;
	my $domain = "{$domain}";
	my $appPath = "{$appPath}";
	my $modulesPath = "{$modulesPath}";
	my $themesPath = "{$themesPath}";
	
{$pull}
\}

#DON'T FORGET THE 1!
1